@model IEnumerable<PromDresses.Data.Accessorie>

@{
    ViewData["Title"] = "Аксесоари";
}
<br />
<br />
<br />
<br />
<div class="SecoundPageName">
    <p>БАЛНИ АКСЕСОАРИ</p>
</div>
<hr />

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Добави аксесоар</a>
    </p>
}
<br />
<div class="row">
    @foreach (var accessorie in Model)
    {
        <div class="col-md-4 mb-4" style="font-family:'Times New Roman', Times, serif">
            <div id="cards" class="card h-100 d-flex flex-column mb-2">
                <a asp-controller="Accessories" asp-action="Details" asp-route-Id="@accessorie.Id" style="text-decoration:none;color:black;">
                    <img id="imgforaccessories" src="@accessorie.URLimages" class="card-img-top mt-2" alt="@accessorie.NameAccessorie" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@accessorie.NameAccessorie</h5>
                        <p class="card-text">@accessorie.CNumber</p>
                        @* <p class="card-text">@accessorie.Description</p> *@
                        <p class="card-text">@accessorie.Collections.Name</p>
                        <p class="card-text"><strong>Цена: @accessorie.Price лв.</strong></p>
                        <a asp-controller="OrderAccessories" asp-action="CreateId" asp-route-id="@accessorie.Id" id="btnhover" class="btn text-white" style="background-color:#f1cec6;">Купи</a>

                    </div>
                </a>
            </div>
        </div>
    }
</div>
@if (User.IsInRole("Admin"))
{
<table class="table">
    <thead>
        <tr>
            <th>
               @*  @Html.DisplayNameFor(model => model.CNumber) *@
               Каталожен номер
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.NameAccessorie) *@
                Име на аксесоара
            </th>
            <th>
               @*  @Html.DisplayNameFor(model => model.Collections) *@
               Колекция
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Description) *@
                Описание
            </th>
            <th>
               @*  @Html.DisplayNameFor(model => model.URLimages) *@
               Снимка
            </th>
            <th>
               @*  @Html.DisplayNameFor(model => model.Price) *@
               Цена
            </th>
          @*   <th>
                @Html.DisplayNameFor(model => model.DateRegister) 
             
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameAccessorie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Collections.Id)
            </td>
          @*   <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td> *@
            <td>
                @* @Html.DisplayFor(modelItem => item.URLimages) *@
                   @*  <img src="@item.URLimages" width="100" /> *@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.DateRegister)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Промяна</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Изтриване</a>
            </td>
        </tr>
}
    </tbody>
</table>
}