@model IEnumerable<PromDresses.Data.OrderDress>

@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<br />
<br />
<h1 style="font-family:'Times New Roman', Times, serif">Кошница</h1>
@if (User.IsInRole("Adem"))
{
    <p>
        <a asp-action="Create">Добави рокля</a>
    </p>
}
<table class="table" style="font-family:'Times New Roman', Times, serif">
    <thead>
        <tr>
            @if (User.IsInRole("Ademin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Users)
            </th>
            }
            <th>
               @*  @Html.DisplayNameFor(model => model.Dresses) *@
               Рокля
            </th>
            <th>
               @*  @Html.DisplayNameFor(model => model.Dresses.Size) *@ 
               Размер
               
            </th>
            <th>
               @*  @Html.DisplayNameFor(model => model.DateRegister) *@
               Дата
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                @if (User.IsInRole("Admin"))
                {           
                <td>
                @Html.DisplayFor(modelItem => item.Users.UserName)
                  </td>
                }
            <td>
                @Html.DisplayFor(modelItem => item.Dresses.NameDress)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dresses.Size)
                </td>
                @if (User.IsInRole("Admin"))
                {     
                <td>
                @Html.DisplayFor(modelItem => item.DateRegister)
                </td>
                }
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Промени</a> /
             @*    <a asp-action="Details" asp-route-id="@item.Id">Детайли</a> / *@
                <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                    
            </td>
        </tr>
}
    </tbody>
</table>
